# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache
*.vs/

# Angular / Node
**/node_modules/
**/dist/
**/.angular/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# IDEs
.idea/
.vscode/
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
nul

# Dictionary file (large)
sq_AL.dic
